.instead_header{
    width: 100vw;
    height: 90px;
}

.index_main{
    width: 1300px;
    height: 250vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category{
    width: 1300px;
    height: 100px;
    display: flex;
   justify-content: space-around;
   align-items: center;
}
.category-btn{
    width: 55px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'YUniverse-B';
    color: rgba(57, 62, 70, 0.7);
}
.select-border{
    border-bottom: 3px solid var(--main-black);
    color: var(--main-black);
}
.category-btn i{
    font-size: 27px;
    margin-bottom: 8px;
}
.category-btn:hover{
    cursor: pointer;
}


.popularity{

}
.development{
    
}
.poem{
    
}
.essay{
    
}
.economy{
    
}
.travel{
    
}
.philosophy{
    
}
.natural-science{
   
}
.technology-science{
   
}
.literature{

}
.fantasy{

}
.mystery{

}
.romance{

}
.history{

}


.book_container{
    width: 3900px;
    height: 400px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.left_btn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 211, 105, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.4);
    position: absolute;
    top:330px;
    bottom: 0;
    left: 0;
    right: 1300px;
    margin: 0 auto 0 auto;
    font-size: 30px;
    z-index: 5;
}
.left_btn:hover{
    cursor: pointer;
}
.right_btn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 211, 105, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.4);
    position: absolute;
    top:330px;
    bottom: 0;
    left: 1300px;
    right: 0;
    margin: 0 auto 0 auto;
    font-size: 30px;
    z-index: 5;
}
.right_btn:hover{
    cursor: pointer;
}


.book_list{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.page{
    width: 390px;
    height: 400px;
    flex-shrink: 0;
    position: relative;
}
.page3{

}
.main_img{
    width: 390px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.main_img_cover{
    width: 390px;
    height: 400px;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.main_img_cover:hover{
    background-color: rgba(0,0,0,0.7);
}
.main_title{
    font-size: 22px;
    font-family: 'SuncheonB';
    color: var(--main-white);
    text-shadow: 0px 0px 3px rgba(0,0,0,1);
}
.main_content{
    font-size: 18px;
    font-family: 'SuncheonB';
    color: rgba(238, 238, 238,0.7);
    width: 300px;
    line-height : 25px;
    text-shadow: 0px 0px 3px rgba(0,0,0,1);

}



.book_recommend{
    width: 1300px;
    height: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.best_seller{
    font-size: 50px;
    font-family: 'YUniverse-B';
    margin-bottom: 30px;
}
.best_seller_container{
    width: 1200px;
    height: 1200px;
    display: grid;
    grid-template:
    "one two three four" 1fr
    "five six seven eight" 1fr
    "nine ten eleven twelve" 1fr / 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area: four;
}
.five{
    grid-area: five;
}
.six{
    grid-area: six;
}
.seven{
    grid-area: seven;
}
.eight{
    grid-area: eight;
}
.nine{
    grid-area: nine;
}
.ten{
    grid-area: ten;
}
.eleven{
    grid-area: eleven;
}
.twelve{
    grid-area: twelve;
}


.best_seller_book_container{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.best_seller_img{
    border-radius: 30px;
    width: 260px;
    height: 260px;
    object-fit: cover;
}
.book_description{
    width: 270px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 5px;
    justify-content: flex-start;
}
.best_seller_title{
    font-size: 22px;
    font-family: 'YUniverse-B';
    margin-bottom: 15px;
}
.best_seller_info{
    font-size: 15px;
    font-weight: 600;
}


.index_footer{
    width: 100vw;
    height: 10px;
}